@tailwind base;
@tailwind components;
@tailwind utilities;

section {
    height: 100%;
    text-align: left;
}

.center {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    text-align: center;
}

h2 {
    border-bottom: 3px solid rgb(106, 0, 95);
}

blockquote {
    text-align: center;
    font-size: xx-large;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}
